@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100&family=League+Spartan:wght@300;500;600;700;800;900&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
 
}

body{
    background-color: #3a4663;
    /* font-family: 'League Spartan', sans-serif; */


}

/* .calculator-container{
    background-color: red;
    
} */
.calculator_output{
    grid-column: 1/-1;
    display: flex;
    height: 10px;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    /* background-color: #181F33 !important; */
    word-wrap: break-word;
    word-break: break-all;
}

.calculator_output .previous_output{
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;

}

.calculator_output .current_output{
    color: #fff;
    font-size: 2.5rem;

}
.banner{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.theme_section{
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 30px;
    color: #fff;
    position: relative;
    font-weight: 550;
    top: -10px;
}

.theme_section > h3{
    position: relative;
    left: -20px;
    color: #fff;
    font-size:11px;
    text-transform: uppercase;
}

.eight{
    position: relative;
    left: -5px;
}
.five{
    position: relative;
    left: -5px;
}

.two{
    position: relative;
    left: -5px;
}

.zero{
    position: relative;
    left: -5px;
}
.nine{
    position: relative;
    left: -5px;
}
.six{
    position: relative;
    left: -5px;
}
.three{
    position: relative;
    left: -5px;
}

.slash{
    position: relative;
    left: -5px;
}
.range{
    display:flex !important;
    /* justify-content: space-between; */
    position: relative;
    margin-left: 10px;
    font-size: 11px;
    top: -3px;
    color: #fff;
}

.range .range2 ,.range3{
    margin-left: 20px;
}

.range_holder{
    position: relative;
    top: -23px;
}
.outer{
    width: 75px !important;
    height: 30px;
    padding: 5px;
    border: white;
    background-color: #242D44;
    border-radius: 20px;
    cursor: pointer;
}
.outer > .ball{
    width:20px;
    height:20px;
    position: relative;
    left: 0;
    border-radius: 20px;
    background-color: #D03F2F;
      
}

.hovers:hover{
    background-color:#8631AF!important;
    cursor: pointer;
    /* color:blue !important; */
}

.hov:hover{
    background-color: #fff !important;
   /* color:red !important; */
   cursor: pointer;
}

.hov2:hover{
    background-color: #fff !important;
    color:#36362C !important;
    cursor: pointer;
}

.calculator-container{
    padding-top:6rem;
    padding-bottom: 10rem;
    max-width: 450px;
    max-height: auto;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.delBtn{
    background-color: #647198 !important;
    border-bottom: 5px solid #414e73 !important;
    color: white !important;
    font-size: 20px !important;
}

.delBtn:hover{

    cursor: pointer ;
}

/* .createDelBtn:hover{
    background-color: #A2B2E1 !important;
    cursor: pointer !important;
} */



.btn_group >button{
   font-size:30px;
   width: 80px;
   color: #434A59;
   height: 50px;
   display: inline;
   border-radius: 10px;
   border-bottom: 5px solid #b3a497;
   background-color: #EAE3DC;
   font-weight: bolder;
   border-top: none;  
   border-left: none; 
   border-right: none;
}

/* .btn_group >button:hover{
    background-color: #fff;
    cursor: pointer;
} */

.calculator_keys{
   padding: 5px 0px 5px 25px;
   /* margin-left: 10px;
   margin-right: 20px; */
   max-width: 600px;
   max-height: auto;
   height: auto;
   border-radius: 15px;
   background-color: #242D44;
}


.final_bottom{
 margin-top:5px;
 margin-bottom: 35px;


}

.align1{
    /* margin-right: 15px !important; */
    margin-left: 10px;
    margin-right: 15px;
    margin-top:30px;
    margin-bottom: 10px;
}

.end1{
    margin-left:10px!important;
    /* margin-top:30px;
    margin-bottom: 20px; */
}

.base3{
    margin-left: 10px!important;
    margin-right: 2px;
    /* margin-top:30px;
    margin-bottom: 20px; */
}

.base2{
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top:30px;
    margin-bottom: 20px; */
}

.span-two{
    width: 11rem;
    margin-left: 1rem;
    height:55px ;
    border-radius: 10px;
    font-size: 1.3rem;
    border-bottom: 5px solid #ccc;

}

.span-three{
    width: 11rem;
    margin-left: 1.8rem;
    height:50px ;
    border-radius: 10px;
    font-size: 1.2rem;
    border-bottom: 5px solid #ccc;
}

.groupin{
    margin-top:-20px;
}

.resetBtn{
    background-color: #647198;
    color:#fff;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    border-top: none;  
    border-left: none; 
    border-right: none;
    border-bottom: 5px solid #414e73 !important;
}
.resetBtn:hover{
    background-color: #A2B2E1;
}

.loadHover:hover{
    background-color: #A2B2E1 !important;
    cursor: pointer !important;
}

.stBtn{
    background-color: #647198 !important;
    border-bottom: 5px solid #414e73 !important;
}


.minus{
    background-color: #D03F2F;
    color:#fff;
    height: 50px;
    font-size:28px !important;
    text-transform: uppercase; 
    cursor: pointer;
    border-top: none;  
    border-left: none; 
    border-right: none;
    border-bottom:5px solid #93261a ;
}
.minus:hover{
    background-color: #F96B5B;
}

.calculator_output{
    background-color: #181F33;
    min-height: 20vh;
    border-radius: 20px;
    margin-bottom: 30px;
}

.select1{
    background-color:#378187 !important;
    border-bottom: 5px solid #226067 !important;
}

.equalBtn{
    background-color: #c85526;
}
.move{
    color: #ffe53d !important;
    background-color: #331d4d !important;
    border-bottom: 5px solid #8b479e !important;
}
.move_more{
    background-color: #59347c !important;
    border-bottom: 5px solid #c46ff4 !important;
    color: #fff;
    font-weight: bolder;
}

.move_more_eq{
    background-color: #60dfd0 !important;
    border-bottom: 5px solid #5bc5c7 !important;
    color: #000;
    font-weight: bolder;
}


@media (min-width:320px) and (max-width:480px){
   /* .calculator-container{} */

   .calculator_output{
      max-width: 320px;
      margin: 0 auto;
      height: 5vh;   
  
   } 
   .banner{
       margin-left: 35px;
       margin-right: 35px;
   } 
   .banner >h3{
       font-size:50px;
       position: relative;
       top: -20px;
   }
   .theme_section >h3{
       font-size: 15px;
   }

   .calculator_keys{
       margin-top: 50px;
       max-width: 320px;
       margin: 0 auto;
       position: relative;
       top:35px
   }

   .calculator_keys > button{
      font-size: 5px;
   }

   .btn_group{
       display: flex;
   }
   
   .seven{
       position: relative;
       top: -11px;
       left: -15px;
   }
   .eight{
       position: relative;
       top:18px;
       left: -22px;
   }

   .nine{
    position: relative;
    top:18px;
    left: -23px;
   }
   .delt{
    position: relative;
    top:18px;
    left: -20px; 
   }
   .delt:hover{

   }
   
   .four{
    position: relative;
    top:-10px;
    left: -15px;
   }

   .five{
    position: relative;
    top:20px;
    left: -22px;

   }

   .six{
    position: relative;
    top:18px;
    left: -23px;
   }
   .plus{
    position: relative;
    top:18px;
    left: -20px; 
   }

   .one{
    position: relative;
    top:-10px;
    left: -15px;
   }
   .two{
    position: relative;
    top:20px;
    left: -22px;
   }
   .three{
    position: relative;
    top:18px;
    left: -23px; 
   }

   .takeaway{
    position: relative;
    top:18px;
    left: -20px; 
   }
   .dot{
    position: relative;
    top:-10px;
    left: -15px; 
   }
   .zero{
    position: relative;
    top:20px;
    left: -22px; 
   }
   .slash{
    position: relative;
    top:18px;
    left: -23px; 
   }
   .times{
    position: relative;
    top:18px;
    left: -20px; 
   }

   .resetBtn{
      width: 8rem; 
      position: relative;
      left: -15px;
   }
   .minus{
       width: 7.2rem;
       position: relative; 
       left: -20px;
   }

}